.hub-name {
    color: rgb(10, 10, 161);
}

.type-toggle-div {
    background: #77ec87;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(50%);
}

.type-toggle-button {
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.type-toggle-span {
    z-index: 2;
    position: relative;
}

.display-3 {
    font-size: 3.3rem !important;
}
