.navnavbar {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    background-blend-mode: soft-light;
    background-color: #3bb2f1;
    padding: 16px;
    display: inline-flex;
    z-index: 3;
    justify-content: space-between;
}

.theme {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    margin-right: 20px;
    color: black;
}

.navnav {
    position: fixed;
    height: 100%;
    background-color: #53bcf5;
    top: 0;
    width: 200px;
    left: 0;
    padding-top: 20px;
    z-index: 4;
}

.navnavlink:hover {
    background-color: lightsalmon;
    background-blend-mode: lighten;
}

.navnavitem {
    margin-right: 20px;
}

.nav-item {
    overflow: hidden;
}

.navnavbutton,
.navnavicon {
    all: unset;
    color: #b917b1;
    text-decoration: none;
    background-color: transparent;
    display: block;
    padding: 0.5rem 1rem;
    z-index: 5;
}

.navnavbutton {
    width: 100%;
}

.navnavlink:hover .navnavitem {
    color: green;
}

.navnavtext {
    all: unset;
}

.navnavlink:hover .navnavtext {
    color: green;
}
