.navnavbar {
  position: fixed;
  width: 100%;
  background-blend-mode: soft-light;
  z-index: 100;
  background-color: #3BB2F1;
  top: 0;
  padding: 16px;
  display: inline-flex;
  justify-content: space-between;
}

.theme {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  margin-right: 20px;
  color: black;
}

.navnav {
  position: relative;
}

.navnavlink:hover {
  background-color: lightsalmon;
  background-blend-mode: lighten;
}

.navnavitem {
  margin-right: 20px;
}

.navnavbutton {
  all: unset; 
  color: #007bff; 
  text-decoration: none;
  background-color: transparent;
  display: block;
  padding: .5rem 1rem;
}

.navnavlink:hover .navnavitem {
  color: green;
}

.navnavtext {
  all: unset;
}

.navnavlink:hover .navnavtext {
  color: green;
}