#posttitle {
    text-align: center
}

#postdiv {
    margin: 20px;
    font-size: 23px;
    padding-top: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}