#posttitle {
    text-align: center
}

#postdiv {
    margin: 20px;
    font-size: 23px;
    padding-top: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.post-content {
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden
}

.back-blue {
    background-color: #a5e6f3;
}

.footer {
    justify-content: space-between; 
    display: inline-flex
}